<!DOCTYPE hmtl>
<html lang="en">

<head>
  <title>Password Reset Successfull</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    
    .reset-login {
      width: 350px;
      max-width: 100%;
      margin-top: 60px;
      text-align: center;
      margin: auto;
    }

    .reset-logo {
      color: #787878;
      margin-bottom: 35px;
      margin-top: 30%;
    }

    @media screen and (max-width: 420px) {
      .reset-logo {
        font-size: 135px;
      }
    }
  </style>
</head>

<body>
<div class="reset-login">
  <div>
    <h1 class="reset-logo">Password reset success !</h1>
  </div>
  <div>
    <p>Your password has been reset successfully !</p>
    <br>
    <p>Please login to your account !</p>
  </div>
</div>

</body>

</html>
