<!DOCTYPE hmtl>
<html lang="en">

<head>
  <title>Reset Password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .reset-login {
      width: 300px;
      max-width: 100%;
      text-align: center;
      margin: auto;
      margin-top: 5%;
    }

    .reset-logo {
      color: #787878;
      margin-bottom: 35px;
      margin-top: 30%;
    }

    @media screen and (max-width: 420px) {
      .reset-logo {
        font-size: 135px;
      }
    }

    .reset-input {
      border-radius: 0;
      font-size: 14px;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #ccc !important;
    }

    .reset-btn {
      padding: 8px 16px;
      background: teal;
      color: #fff;
      border: none;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 0;
      letter-spacing: 2px;
      cursor: pointer;
    }

  </style>
</head>

<body>
  <div class="reset-login">
    <div>
      <h1 class="reset-logo">Reset your password</h1>
    </div>
    <div>
      <form action="<%= redirectUrl %>" method="post">
        <div>
          <input type="password" name="password" class="reset-input" placeholder="Enter your new password here.." required>
          <p style="color:red">
            <%= error %>
          </p>
        </div>
        <div>
          <input type="submit" class="reset-btn" value="Reset">
        </div>
      </form>
    </div>
  </div>

</body>
</html>